* {
  box-sizing: border-box;
}

.parent {
    margin: 2rem auto;
  /* Tohle ted uz nepotrebuju*/
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  width: 80vw;
  height: 40rem;
  position: relative;
  border:1px solid maroon;
}

.child {
  background-color: transparent;
  border: 2px solid black;
  width: 20rem;
  height: 20rem;
  text-align: center;
  font-weight: bold;
  font-size: 10rem;
  /*Pro alignovani textu:*/
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /*Pozice toho childu - vsechny se budou prekryvat a budou primo na stredu */
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s ease-out;
}

.active {
  background-color: blue;
  opacity: 1;
}

.prev {
  background-color: orange;
  transform: translate(-150%, -50%); /*Nestaci posunou jen o 100%. transform v tehle tride totiz prepisuje ten transform
  v te child tride. takze by se to posunulo o 100% vuci te left 50% a ne vuci te poloze transform: translate(-50%,-50%);
  Kdyz bych ale ty tridy zapsala jako .child.prev tak by to asi fungovalo i s tou 100%.*/
  opacity:0.2;
}

.next {
  background-color: green;
  transform: translate(50%,-50%); /* tu next posunu jen o 50% vuci te left 50%, opet se prepise ten trnsform v child tride,
  dalsi vec: vsechny ty next polozky budou pres sebe. vsechny se posunuji o tech 50% vuci te poloze childu.*/
  opacity:0.2;
}
