.alert {
    background-color:aliceblue;
    border-radius: 0.2rem;
    font:inherit;
    font-size:1rem;
    padding:0.5rem;
    text-align:center;
}

.danger {
    color:red;
}

.noDanger {
    color:green;
}